@media screen and (min-width: 768px) {
/************************* Body Styles*************************/

	body {
		background-position: center;
		background-size: cover;
	}

	#wrapper {
  		background: linear-gradient(transparent, black 80%);
	}

	.about-text {
		width: 50%;
		margin: 0 auto;  
	}

/************************* Header Styles*************************/

	.boigah-box,
	.mobile-nav {
		display: none;
	}

	.logo {
		flex-grow: 1;
	}

	.desktop-nav {
		display: inline-block;
		margin: 0.67em 0;
		font-size: 1.3em;
	}

	.desktop-nav > ul {
		background: transparent;
		list-style: none;
	}

	ul li {
		display: inline;
	}

	.caption-info {
		font-size: 1em;
	}

	.slick-prev {
	    left: -25px;
	}

	.slick-next {
	    right: -25px;
	}
/***************** Desktop Nav items*****************/

	li .desktop-nav-item,
	a[href*="index.html"] {		
	  letter-spacing: 2px;
	  color: #aaa;
	  position: relative;
	  background: transparent;
	  text-decoration: none;
	  -webkit-transition: color .3s ease, border-color .3s ease;
	  transition: color .3s ease, border-color .3s ease;
	  transition-property: color, border-color;
	  transition-duration: 0.3s, 0.3s;
	  transition-timing-function: ease, ease;
	  transition-delay: initial;
	}

	.desktop-nav-item:after,
	a[href*="index.html"]:after {
	  content: " ";
	  display: block;
	  position: absolute;
	  bottom: -3px;
	  left: 0;
	  right: 0;
	  height: 2px;
	  width: 100%;
	  background: white;
	  -webkit-transition:   all .35s ease-in-out;
	  transition: all .35s ease-in-out;
	  transition-property: all;
	  transition-duration: 0.35s;
	  transition-timing-function: ease-in-out;
	  transition-delay: initial;
	  transform: scaleX(0);
	}

	.desktop-nav-item:hover:after,
	a[href*="index.html"]:hover:after {
		transform: scaleX(1);
		color: green;
	}

	/************************** Footer Styles*********************/

	#copyright-info > .copyright {
	  margin: 1em 0;
	  font-size: 1.1em;
	}

	/************************** Music Landing Page Styles************************/

	.album-covers-wrapper {
		padding: 0 .5rem;
	}

	.album-covers-wrapper a.album-cover {
		width: calc((100% / 3) - 1rem);
		display: inline-block;
		padding: 1rem;
		position: relative;
	}

	.album-covers-wrapper a.album-cover span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
		color: transparent;
		transition: color .25s ease-in-out;
		text-transform: uppercase;
		font-size: 1.875em;
		line-height: 1.2;
		letter-spacing: .1em;
	}

	.album-covers-wrapper a.album-cover:hover span {
		color: #efefef;
		text-shadow: 2px 2px rgba(0, 0, 0, .75);
	}

	/************************** Individual Music Page Styles*********************/

	#content {
		flex-direction: row;
		width: 95%;
		margin: 0 auto;
	}

	.album-breadcrumb {
		padding: 1em 0;
	}

	.prev-album a,
	.next-album a {
	  font-size: 1em;
	}

	.prev-album:before {
	    font-size: 1em;
	  }

	 .next-album:after {
	 	font-size: 1em;
	 }

	.album,
	.track-list {
		padding: 0 .7em;
	}

	#content .album {
		margin: 0;
	}

	.album img {
		max-width: 100%;
	}

	
/************************** Videos Page Styles*********************/

	.videos-flex-container {
		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}

	.videos-container {
		width: 40%;
		flex-direction: column;
		flex-grow: 1;
		margin: 1em;
	}
/************************** Contact Page Styles*********************/

form {
	width: 50%;
	margin: 0 auto;
}
	
}
/************************ End of Large View Styles*************************/

/************************ Begin Really Large View Styles*************************/

@media screen and (min-width: 1900px) {
	.logo {
		font-size: 3em;
	}

	.desktop-nav {
		margin: 2em;
	}

	.main-content p {
		font-size: 1.7em;
	    line-height: 1.7em; 
	}

	.about-text {
		width: 80%;
	    margin: 0 auto;
	}
}




