@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  background-image: url("../img/russell-bg.jpg");
  background-color: #121212;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

#wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: black;
  background: linear-gradient(transparent, black 25%);
}

header {
  width: 95%;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  padding-left: .2em;
  flex-grow: 2;
}

.logo a,
li a {
  text-decoration: none;
  color: #aaa;
}

.logo a:hover,
li a:hover {
  text-shadow: none;
  color: #efefef;
}

.boigah-box {
  width: 2.5em;
  height: 2.5em;
  border-radius: 8px;
  display: inline-block;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.67em .5em;
  position: relative;
  transition: .5s ease-in-out;
  transform: rotate(0deg);
}

.line {
  display: block;
  height: 3px;
  background: white;
  position: absolute;
  width: 90%;
  transition: .25s ease-in-out;
}

.line-1 {
  top: 2%;
}

.line-2 {
  top: 30%;
}

.line-3 {
  top: 60%;
}

.tilt-down {
  transform: rotate(45deg);
  transition-duration: 600ms;
  top: 50%;
}

.tilt-up {
  transform: rotate(-45deg);
  transition-duration: 600ms;
  top: 50%;
}

.go-away {
  width: 0;
}

nav {
  display: none;
  margin-bottom: 1em;
}

.desktop-nav {
  display: none;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: #333;
}

ul li {
  color: #efefef;
  padding: 1em;
  font-size: .8em;
}

.main-content {
  width: 95%;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  background: rgba(0, 0, 0, .7);
}

h1 {
  color: white;
  margin-bottom: 1em;
  font-size: 1.8em;
}

.main-content-img-container {
  width: 100%;
  margin: 0 auto;
}

.main-content-img-container img {
  max-width: 100%;
}

p {
  text-align: left;
  color: #efefef;
  line-height: 1.7;
  margin-bottom: 1em;
}

a {
  color: #aaa;
}

a:hover {
  color: #efefef;
}

.big-character {
  font-size: 2.5rem;
  background: #222;
  display: inline-block;
  padding: .3em;
}

.multiple-items {
  margin: 2em auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-container {
  margin: 1em auto;
  width: 95%;
  height: auto;
}

.image-container a {
  text-decoration: none;
}


.slick-slide img {
    display: block;
    max-width: 100%;
    padding: 1em;
}

ul.slick-dots {
  background: transparent;
}

.button {
    background: #aaa;
    font-size: 1.3em;
    line-height: 2.3;
    display: block;
    text-align: center;
    border-radius: .5em;
    width: 80%;
    height: 2.3em;
    margin: 0 auto;
  }

  .show-information {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    text-align: center; 
  }

footer {
  width: 100%;
  padding-top: .5em;
  background: #aaa;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#copyright-info > .copyright {
  padding: 0 .5em;
  margin: .5em 0;
  font-size: .8em;
}

.caption-info {
  font-size: .8em;
  line-height: .8;
  text-align: center;
  margin-top: 1em;
}

/************************** Music Page Styles*********************/
.album-covers-wrapper {
  display: inline-block;
}

.album-covers-wrapper a.album-cover {
  display: inline-block;
  text-decoration: none;
}

.album-covers-wrapper a.album-cover span {
  display: inline-block;
  margin: 1rem 0;
}

.album {
  display: inline-block;
  width: 100%;
  margin: 2em 0;
}

.album-cover img,
.album img {
    max-width: 100%;
  }

.album-cover {
  margin: 1em 0;
}

.album-subnav {
  flex-direction: column-reverse;
  text-align: center;
  border-bottom: 2px solid #aaa;
}

.album-subnav li a {
  color: white;
  font-size: 1em;
  letter-spacing: .1em;
  height: inherit;
}

.album-subnav li {
  height: 0;
  padding: 0;
  transition: all 0.25s linear;
  overflow: hidden;
}

.album-subnav li.open {
  height: 100%;
  padding: 1rem;
  transition: all 0.25s linear;
}

.album-subnav li.current-page {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  order: 5;
  padding: 1rem;
  height: auto;
}

.album-subnav li.current-page a {
  position: relative;
  display: inline-block;
  padding: 0 1.5rem;
}

.album-subnav li.current-page a::before,
.album-subnav li.current-page a::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  transition: all .25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  position: absolute;
  right: 0;
  top: 0;
}

.album-subnav li.current-page a::before {
  border-left: 1px solid #fff;
  transform: rotate(-45deg);
}

.album-subnav li.current-page a::after {
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}

.album-subnav li.current-page.arrow-flip a::before,
.album-subnav li.current-page.arrow-flip a::after {
  transition: all .25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  top: .5rem;
}

.album-subnav li.current-page.arrow-flip a::before {
  transform: rotate(45deg);
}

.album-subnav li.current-page.arrow-flip a::after {
  transform: rotate(-45deg);
}

.album-subnav li.current-page a {
  font-size: 1rem;
}


/************************** Track Listing Styles*********************/

#content {
  display: flex;
  text-align: left;
  color: #aaa;
  flex-direction: column;
  margin-top: 2em;
}

.album-title {
  text-align: center;
  margin-top: 1em;
}

ul.track-list {
  display: inline-block;
}

.track-list > li {
  display: block;
  list-style: none;
  padding: 1em;
}

.track-list span {
  display: inline-block;
  margin: .5em 0;
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: 800;
}

.track-list audio {
  width: 100%;
}

/************************** Videos Page Styles*********************/

.videos-container {
  display: inline-block;
  width: 100%;
}

.videos-container a {
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
}

.videos-container a .video-card {
  background-color: rgba(240, 255, 255, 1);
  padding: 1rem;
  margin: 1rem 0;
}

.videos-container a .video-card .video-card-image-container {
  position: relative;
}

.videos-container a .video-card .video-card-image-container img {
  width: 100%;
  transition: width .25s ease-in;
}

.videos-container a .video-card .video-card-image-container .play-icon {
  display: block;
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: color .25s ease-in;
  color: rgba(240, 255, 255, 1);
}

.videos-container a .video-card p {
  text-transform: uppercase;
  padding: 2rem;
  color: #121212;
  transition: color .25s ease-in;
  font-size: 1.1rem;
  text-align: center;
}

/************************** Helper Classes **************************/

.display-none {
  display: none;
}

.active {
  display: block;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.width {
  width: 100% !important;
}

.margin-top-2em {
  margin-top: 2em;
}

.padding-quarter-em {
    padding: .25em;
}



/************************** Form Styles **************************/

form {
  padding: 0 2em;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

label {
  display: block;
  font-size: 1.6em;
  margin: 0 0 .5em;
}
input {
  display: block;
  box-sizing: border-box;
  border-radius: .5em;
  width: 100%;
  outline: none
}

textarea {
  padding: .5em;
  width: 100%;
}
